@import "tailwindcss";

@font-face {
    font-family: "Fujiwara Black";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/Fujiwara A Black.ttf") format("truetype");
  }

  @font-face {
    font-family: "Fujiwara Regular";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/Fujiwara A Regular.ttf") format("truetype");
  }

  h2 {
    font-family: "Fujiwara A Regular";
  }

  .gallery {
    overflow: hidden;
    height: 75vh;
  }
  
  .gallery-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(30deg) scale(1.125);
  }

  

  .row {
    position: relative;
    width: 150vw;
    height: 350px;
    display: flex;
    justify-content: center;
    padding: 0 2em 2em 2em;
    gap: 2em;
    will-change: transform;
  }

  img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform, opacity;
  }

  @media (max-width: 900px) {
  .gallery {
    height: 55vh;
  }

  .gallery-wrapper {
    transform: translate(-50%, -50%) rotate(30deg) scale(1.125);
  }

  .row {
    width: 200vw;
    height: 200px;
    padding: 0 1em 1em 1em;
    gap: 1em;
  }
}
