@import "tailwindcss";

@font-face {
  font-family: FujiwaraBlack;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Fujiwara B Black.ttf") format("truetype");
}

@font-face {
  font-family: FujiwaraBlackItalic;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Fujiwara B Black Italic.ttf") format("truetype");
}

@font-face {
  font-family: FujiwaraBold;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Fujiwara B Bold.ttf") format("truetype");
}

@font-face {
  font-family: FujiwaraBoldItalic;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Fujiwara B Bold Italic.ttf") format("truetype");
}

@font-face {
  font-family: FujiwaraMedium;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Fujiwara B Medium.ttf") format("truetype");
}

@font-face {
  font-family: FujiwaraMediumItalic;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Fujiwara B Medium Italic.ttf") format("truetype");
}

@font-face {
  font-family: FujiwaraLightItalic;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Fujiwara A Light Italic.ttf") format("truetype");
}

@font-face {
  font-family: Fujiwara;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Fujiwara B Regular.ttf") format("truetype");
}

@theme {
  --font-fujiwara-black: "FujiwaraBlack", sans-serif; 
}

@theme {
  --font-fujiwara-black-italic: "FujiwaraBlackItalic", sans-serif; 
}

@theme {
  --font-fujiwara-bold: "FujiwaraBold", sans-serif; 
}

@theme {
  --font-fujiwara-bold-italic: "FujiwaraBoldItalic", sans-serif; 
}

@theme {
  --font-fujiwara-medium: "FujiwaraMedium", sans-serif; 
}

@theme {
  --font-fujiwara-medium-italic: "FujiwaraMediumItalic", sans-serif; 
}

@theme {
  --font-fujiwara-light-italic: "FujiwaraLightItalic", sans-serif; 
}

@theme {
  --font-fujiwara: "Fujiwara", sans-serif; 
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
    overflow-x: hidden;
}

